body {
  font-family: arial;
  background-color: white;
  margin: 0;
  margin-bottom: 15px;
}
img {
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.2;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 20px;
  padding: 0;
}
p {
  margin-top: 0px;
}
.submission-link {
  font-size: 105%;
}
