body {
  font-family: arial;
  background-color: white;
  margin: 0;
  margin-bottom: 15px;
}
img {
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.2;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 20px;
  padding: 0;
}
p {
  margin-top: 0px;
}
h1 {
  width: 50%;
  text-align: center;
  padding-top: 10px;
  margin: 0px auto;
  margin-bottom: 0px;
}
#preheader {
  background-color: white;
}
#nav-menu {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-evenly;
  position: sticky;
  top: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: white;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.15);
}
#resources h2 {
  margin-top: 0px;
}
.section {
  padding: 5px 15px;
}
.nav-div {
  text-align: center;
  flex-grow: 1;
  border-radius: 8px;
  position: relative;
}
.button {
  display: inline-block;
  width: 100%;
  padding: 10px 0px 15px;
  font-size: 120%;
  text-decoration: none;
  color: black;
}
li a {
  text-decoration: none;
  color: black;
}
#submissions a, #resources a {
  text-decoration: underline !important;
}
.nav-div ul {
  display: none;
  position: absolute;
  list-style-type: none;
  background-color: rgb(255,255,255);
  border-radius: 8px;
  padding: 5px;
  font-size: 120%;
  margin: 0px;
  width: calc(100% - 10px);
}
ul li {
  padding-top: 10px;
  padding-bottom: 5px;
}
.nav-div:hover {
  background-color: lightgrey;
  cursor: pointer;
}
.nav-div:hover ul {
  display: block;
  background-color: white;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
}
.nav-div ul li:hover {
  background-color: lightgrey;
  border-radius: 4px;
}
.submission-link {
  font-size: 105%;
}
